body {
  margin: 0;
  padding: 0;
  font-family: 'Patua One', 'Roboto';
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
@media (max-width: 900px) {
  body {
    background-color: #eed974;
  }
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
